<!-- <div class = "background">
	<img src="assets/landing-bg-2.jpg" class="img-responsive" alt="Responsive image" id="background">
 -->

<div class="row">
	<div class = "col-md-6 col-md-offset-3">
		<div class = "content_space text_padding">
			<h2> One Man's Dining room is another Woman's corporate headquarters. </h2>
			<p> DaySpace.co allows you to rent out your home during the day, or find space to work besides your typical office or coffee shop. Most homes are empty for 1/3 of the day, so DaySpace has made it goal to allow this space to be utilized. Join the sharing economy by joining DaySpace.co today!</p> 
		</div>
		

		<h3>Team</h3>

		<div class = "team">

			<div class="row">
				<div class = "bio col-md-4">
					<img src="assets/bitmaker_me-400-400.jpg" class="img-responsive">
					<div class = "bio-info">
						@drew_sing
						www.drewsing.com
					</div>	
				</div>
			
				<div class = "bio col-md-4">
					<img src="assets/annie_sing_400_400.jpg" class="img-responsive">
					<span>Annie Sing</span>
				</div>	

				<div class = "bio col-md-4">
					<img src="assets/eric.jpg" class="img-responsive">
					<span>Eric DeBusschere</span>
				</div>	

			</div>
		</div>

		</div>
	</div>
</div>















<!-- <div class = "bg-overlay">
	<div id = "grind">
		<div class = "row">
			<div id = "box-2" class = "col-md-4 col-md-offset-4 black-trans">			
				<div class = "row">
					<div class = "col-md-8 col-md-offset-2">

						<h4>Thanks! We've added you to the list and will be releasing our MVP shortly.</h1>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 -->



