<div class = "background">
	<img src="assets/landing-bg-2.jpg" class="img-responsive" alt="Responsive image" id="background">
</div>

<div class = "bg-overlay">
	<div id = "grind">
		<div class = "row">
			<div id = "box-2" class = "col-md-4 col-md-offset-4 black-trans">			
				<div class = "row">
					<div class = "col-md-8 col-md-offset-2">

						<h4>Thanks! We've added you to the list and will be releasing our MVP shortly.</h1>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</div>

