
<div class = "row">
	<div class = "col-md-3">
		<h1>About DaySpace</h1>
	</div>	
	<div class = "col-md-6">
		<p>supppp fjkdsa fjkd f asdfjk afjkd sfkds afjk dsafjk dsafjkd sajk fjd fjd fjkds afkreuw ruei rew rueiw ruei reui ue ruiew ruiew ruew</p>
	</div>
	<div class = "col-md-3">
		<p>2chainz</p>
	</div>		
</div>	
