
	

<div id = "hero-box">
	<h3>My home is your office </h3>
	<h4>Make money by renting out your home during the day.</h4>
		<div class = "field">
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email] %>
		</div>
</div>





<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="assets/backstretch.min.js"></script>
<!-- this includes the js file -->
