<div class = "landing_page">
	
	<h1> This is a test h1 header </h1>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="assets/backstretch.min.js"></script>
<!-- this includes the js file -->
