// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.content_space {
	background-color: gray;
}

.text_padding {
	padding: 8% 20px 0 20px;
}

.bio-info {
	display: none;
}

.bio {
	position: relative;
}