$light_blue: #77bdb3; 

.bg-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 15%;
}

.black-trans {
  background: rgba(0,0,0,.9);
  color: white;
}

.white-trans {
  background: rgba(255,255,255,.95);
  color: black;
}

#box-1 {	
  padding: 10px 10px 20px 30px;
}

#box-2 {
  padding: 25px 10px 20px 25px;
  transition: background-color .3s ease-out;
  h4 {
    margin-bottom: 20px;
  }
}

#box-2:hover {
  background-color: $light_blue;
}

#box-request-invite {
  padding: 25px 10px 20px 25px;
  background-color: $light_blue;
  h4 {
    margin-bottom: 20px;
  }
}

#counter {
  font-size: 16px;
}
//#counter::before{
  
//  opacity:.1;

//  -webkit-transition:opacity 0.4s;
//  transition:opacity 0.4s;
//}

//#counter :hover::before{
//  opacity:1;
//}




.checkbox label {
  font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: 100;
  font-size: 22px;  
}

#email-field {
  margin-top:20px;
}


#inlineCheckbox1 {
  margin-top: 9px;
}

#inlineCheckbox2 {
	margin-top: 9px;
}

.form-control {
	width: 97%;
//  margin-top: 35px;
//  //  top and bottom are 40px, left and right are 0px;
//}

//.landing-text-field {
//	margin-top: 50px;	
}

.hero-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  
}

.btn-primary {
  background-image: none;
  transition: background-color .15s ease-out;
}

.btn-primary:hover {
  background-color: #549cd1;
  cursor: pointer;
}

#section-tabs {
  font-size: 0.8em;
  height: 50px;
  position: relative;
  margin-top: -50px;
  margin-bottom: 50px;
  padding: 0;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
}
#section-tabs li {
  color: #a7a7a7;
  cursor: not-allowed;
  border-left: 1px solid #aaa;
  text-decoration: none;
  padding: 0 6px;
  float: left;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  background: #ddd;
  position: relative;
}


fieldset.next {
  left: 640px;
}






