.navbar-inner {

  border: none;
  background:transparent !important;  
}

.navbar {
  margin-bottom: 0px;
}

.black-trans {
  background: rgba(0,0,0,.8);
  color: white;
}

.white-trans {
  background: rgba(255,255,255,.95);
}


//For small pixel gaps on sides of nav-bar
body {
  padding-left: 0px;
  padding-right: 0px;
}


.big-box {
  margin: 5% auto 0 auto;
  padding-top: 20px;
  width: 400px;
}



#box-1 {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

#box-2 {
  margin-top: 20px;
  text-align: center;
  padding: 25px 10px 20px 25px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}



