.navbar-inner {
  -webkit-box-shadow: none;
  background-image: none;
  background-color: white;
  background-repeat:none;
  border-radius: none;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-left-color: none;
  border-right-color: none;
  background:transparent !important;
}


//    .navbar-inner{
//    background:transparent !important;
//    }
//.navbar-inner container{
//    background:transparent !important;
//    }
//.navbar{
//    background:transparent !important;
//    }
//#nav-main{
//    background:transparent !important;
//    }
//#banner{
//    background:transparent !important;
//    }​