.navbar-inner {
  border: none;
  background:transparent !important;  
}


.navbar {
  margin-bottom: 0px;
  width:100%;
  background: rgba(0,0,0,.5);  
}

body {
  padding-left: 0px;
  padding-right: 0px;
}

